h1.highlight
{ background-color: #FFDD33;
}
h2.highlight{
  background-color: #FFDD33;
}
.uno 
{
  color: blue;
}
.due 
{
  color: grey;
}
.tres 
{
  color: red;
}
.qattro{
  color: green;
}
.cinqo{
  color: orange;
}
.owls
{
  color: blue;
}
.tlm
{
  color: grey;
}
.css
{
  color: red;
}
.intro
{
  color: green;
}
.exam
{
  color: orange;
}

