h1.highlight
{ background-color: #FFDD33;
}
h2.highlight{
  background-color: #FFDD33;
}
.uno 
{
  color: blue;
}
.due 
{
  color: grey;
}
.tres 
{
  color: red;
}
.owls
{
  color: blue;
}
.tlm
{
  color: grey;
}
.css
{
  color: red;
}

